:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::-webkit-scrollbar {
    display: block !important;
    width: 6px !important;
    height: 6px !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(198, 198, 200, 1) !important;
    border-radius: 4px !important;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(242, 242, 242, 1) !important;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

&::-webkit-scrollbar {
  display: block;
  width: 6px;
  height: 6px;
}

&::-webkit-scrollbar-thumb {
  background-color: rgba(198, 198, 200, 1);
  border-radius: 4px;
}

&::-webkit-scrollbar-track {
  background-color: rgba(242, 242, 242, 1);
}
